*.kra

# test modelengine mobs
assets/modelengine/models/illidan
assets/modelengine/textures/entity/illidan*.png

assets/modelengine/models/kil-jaeden
assets/modelengine/textures/entity/kil-jaeden*.png

assets/modelengine/models/kindletronjr
assets/modelengine/textures/entity/kindletronjr*.png

assets/modelengine/models/pitlord
assets/modelengine/textures/entity/pitlord*.png

assets/modelengine/models/scarecrow
assets/modelengine/textures/entity/scarecrow*.png

# bro why you add it back
assets/minecraft/optifine/cem/creeper.jem
assets/minecraft/optifine/cem/skeleton.jem